# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Sorting/Debug
/Sorting/ipch/UNITTESTSORT-826a8de2
/Sorting/Sorting/Debug
/Sorting/TestResults
/Sorting/UnitTestSort/Debug
/Sorting/Sorting.VC.db
/Sorting/Sorting.VC.VC.opendb
/Solutions/Solutions.VC.VC.opendb
/Solutions/Solutions.VC.db
